@import "../../root.scss";

.formStartGame {
  background-color: $color-secondary;
  padding: $pg-middle;
  border-radius: $br-small;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 700px;
  margin: 0 auto;
  h3 {
    text-align: center;
  }

  .description {
    text-align: center;
    color: $color-grey;
  }
}
