@import "../../root.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $color-secondary;
  padding: $pg-middle;
  border-radius: $br-small;

  .send {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    width: 100%;
  }
}
