// ================Colors===============

$color-primary: #202124;
$color-secondary: #171717;
$color-text: #e8eaed;

// ===============Font===================
$fs-small: 18px;
$fs-middle: 22px;

// ==============Padding=================
$pg-small: 10px;
$pg-middle: 16px;
