// ================Colors===============

$color-primary: #121214;
$color-secondary: #252427;
$color-text: #e8eaed;
$color-yellow: rgba(222, 190, 73, 1);
$color-grey: rgb(204, 204, 204);
$color-red: rgb(255, 105, 105);
$color-green: rgb(160, 255, 141);

// ===============Font===================
$fs-small: 16px;
$fs-middle: 22px;
$fs-big: 40px;
$fs-very-big: 75px;

// ==============Padding=================
$pg-small: 10px;
$pg-middle: 16px;

//============= border radius =====================

$br-small: 8px;
